.jumbotron {
	background-color: purple;
	color: white;
	margin-top:35px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.btn-primary {
	background-color: purple;
}

.btn-secondary {
	background-color: purple;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: lightgrey;
	margin-top: 200px;
	margin-bottom: 0px;
}

a {
	color:purple;
}

.navegador {
	font-size: 20px;
}

.producto {
	flex: 1 180px;
	margin-top: 15px;
}

.btn-presup {
	width: 100%;
	border-radius: 0px;
}

.footer-icon {
	padding-right: 10px; 
}

.breadcrumb{
	margin-top: 5px;
	margin-bottom: 5px;
}

.tab-content{
	padding-top: 10px;
}