.jumbotron {
  background-color: #c058c4;
  color: white;
  margin-top: 35px;
  margin-bottom: 5px;
  border-radius: 0px;
}
.btn-primary {
  background-color: #c058c4;
}
.btn-secondary {
  background-color: #c058c4;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: lightgrey;
  margin-top: 200px;
  margin-bottom: 0px;
}
a {
  color: #c058c4;
}
.navegador {
  font-size: 20px;
}
.producto {
  flex: 1 180px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.btn-presup {
  width: 100%;
  border-radius: 0px;
}
.footer-icon {
  padding-right: 10px;
}
.breadcrumb {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tab-content {
  padding-top: 10px;
}
