.jumbotron {
  background-color: #de5fe3;
  color: white;
  margin-top: 35px;
  margin-bottom: 5px;
  border-radius: 0px; }

.btn-primary {
  background-color: #de5fe3; }

.btn-secondary {
  background-color: #de5fe3; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: lightgrey;
  margin-top: 200px;
  margin-bottom: 0px; }

a {
  color: #de5fe3; }

.navegador {
  font-size: 20px; }

.producto {
  flex: 1 180px;
  margin-top: 15px;
  margin-bottom: 0px; }

.btn-presup {
  width: 100%;
  border-radius: 0px; }

.footer-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.breadcrumb {
  margin-top: 5px;
  margin-bottom: 5px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
