@purple: #cd28d4;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}


.jumbotron {
	background-color: @purple;
	color: white;
	.margenes(35px, 5px);
	border-radius: 0px;
}

.btn-primary {
	background-color: @purple;
}

.btn-secondary {
	background-color: @purple;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: lightgrey;
	.margenes(200px, 0px);
}

a {
	color: @purple;
}

.navegador {
	font-size: 20px;
}

.producto {
	flex: 1 180px;
	.margenes(15px, 0px);
}

.btn-presup {
	width: 100%;
	border-radius: 0px;
}

.footer-icon {
	padding-right: 10px; 
}

.breadcrumb{
	.margenes(5px, 5px);
}

.tab-content{
	padding-top: 10px;
}