$purple: #de5fe3;
$amarillo: #F5F54E;
$rojo: #F5302C;
$verde: #5FF54E;

@mixin padin($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}


@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
	background-color: $purple;
	color: white;
	@include margenes(35px, 5px);
	border-radius: 0px;
}

.btn-primary {
	background-color: $purple;
}

.btn-secondary {
	background-color: $purple;
}

footer {
	@include padin(10px, 10px, 0px, 10px);
	background-color: lightgrey;
	@include margenes(200px, 0px);
}

a {
	color: $purple;
}

.navegador {
	font-size: 20px;
}

.producto {
	flex: 1 180px;
	@include margenes(15px, 0px);
}

.btn-presup {
	width: 100%;
	border-radius: 0px;
}

.footer-icon {
	@include padin(0px, 10px, 0px, 0px);
}

.breadcrumb{
	@include margenes(5px, 5px);
}

.tab-content{
	@include padin(10px,0px,0px,0px);
}